.actions {
    label {
        left: 0;
        top: 0.25rem;
        margin: 0;
        margin-bottom: 8px;
        font-size: 13px;
    }

    button {
        margin-top: 2px !important;
        height: 32px !important;
    }
}
